*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:"Poppins",sans-serif;
    background:#f7f3ec;
}

.container{
    width:96%;
    margin:15px auto;
    border-radius:40px;
    background:#fcfaf5;
    overflow:hidden;
    box-shadow:0 25px 70px rgba(0,0,0,.12);
}


header{
    padding:30px 55px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    width:300px;
}

.nav-links{
    display:flex;
    gap:55px;
    list-style:none;
}

.nav-links li{
    font-size:28px;
    font-weight:600;
    cursor:pointer;
    color:#222;
    position:relative;
}

.active{
    color:#1c7b4f;
}

.active::after{
    content:"";
    position:absolute;
    width:70px;
    height:3px;
    background:#1c7b4f;
    bottom:-12px;
    left:48%;
    transform:translateX(-50%);
    border-radius:20px;
}

.search-box img{
    width:560px;
}

main{
    display:grid;
    grid-template-columns:1.1fr 1fr .8fr;
    align-items:center;
    padding:0 55px;
}

.left{
    display:flex;
    flex-direction:column;
}

.badge{
    width:270px;
    height:48px;
    border:2px solid #73a56f;
    border-radius:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#2c6d38;
    font-weight:600;
    margin-bottom:30px;
    position: relative;
    left: 200px;
    top: 100px;
}

.left img{
    width:760px;
}

.left p{
    width:450px;
    margin-top:20px;
    color:#666;
    font-size:26px;
    line-height:42px;
    position: relative;
    left: 180px;
    bottom: 100px;
}

.action{
     display:flex;
     align-items:center;
     gap:30px;
     margin-top:40px;
     position: relative;
     left: 50px;
    bottom: 90px;
}

.cart-btn {
    width:290px;
    height:82px;
    border:none;
    border-radius:50px;
    background:#111;
    color:#fff;
    font-weight:600;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:18px;
    cursor:pointer;

}

.cart-btn img{
    width:60px;
    height:60px;

    padding:12px;

    background:#E0A11B; 
      

    border-radius:50%;

    box-shadow:
        0 8px 18px rgba(224,161,27,.35),
        inset 0 2px 2px rgba(255,255,255,.18);

    object-fit:contain;
}


.quantity{

    width:210px;

    height:82px;

    background:white;

    border-radius:50px;

    display:flex;

    justify-content:space-evenly;

    align-items:center;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

}

.quantity button{

    border:none;

    background:none;

    font-size:38px;

    cursor:pointer;

}

.quantity span{

    color:#ef4444;

    font-size:34px;

    font-weight:600;

}


.features{

    display:flex;

    gap:55px;

    margin-top:60px;

}

.feature{

    display:flex;

    gap:14px;

    align-items:flex-start;

}

.feature img{
    position: relative;
    bottom: 90px;
    left: 60px;
    width:40px;
}

.feature h4{
    position: relative;
    bottom: 90px;
    left: 60px;
    font-size:19px;
    margin-bottom:6px;

}

.feature p{
    width:auto;
    margin:0;
    font-size:16px;
    line-height:25px;
    color:#666;
    position: relative;
    bottom: 90px;
    left: 60px;
}

#f1{
    border: 1px solid green;
    border-radius: 50%;
    padding: 5px;
    width: 50px;
}
#f2{
   border: 1px solid yellow;
   border-radius: 50%;
    padding: 5px;
    width: 50px;
   
}
#f3{
   border: 1px solid red ;
   border-radius: 50%;
    padding: 5px;
    width: 50px;
}

.center{

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;
    bottom: 100px;

}

.chips{

    width:790px;

}

.right{

    display:flex;

    flex-direction:column;

    gap:55px;

}

.benefit{

    display:flex;

    gap:22px;

    align-items:flex-start;
    position: relative;
    left: 20px;

}

.icon{

    width:78px;

    height:78px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

}

.chilli{

    background:#1f8d54;

}

.beef{

    background:#ef4444;

}

.fire{

    background:#ffb52c;

}

.icon img{

    width:40px;

}

.meat{

    width:34px;

}

.fire2{

    width:36px;

}

.benefit h3{

    font-size:22px;

    margin-bottom:10px;

}

.benefit p{

    width:260px;

    color:#666;

    line-height:30px;

}


footer{

    margin-top:30px;

    padding:0 35px 35px;

}

.slider{

    height:260px;

    background:#1d6c43;

    border-radius:40px;

    display:flex;

    justify-content:space-evenly;

    align-items:center;
    

}

.slider-title{

    color:white;
    position: relative;
    right: 60px;

}

.slider-title h2{

    font-size:42px;
    font-weight: 500;
    line-height:55px;

}

.arrows{

    display:flex;
    
    gap:20px;

    margin-top:35px;

}

.arrows button{

    width:65px;

    height:65px;

    border-radius:50%;

    border:none;

    font-size:28px;

    cursor:pointer;

}

.product-card img{

    width:400px;

}